.element__like {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background: transparent url('../../../images/elements/like.svg') no-repeat center top;
}

.element__like:hover {
  opacity: 0.6;
}
