.profile__avatar {
  max-width: 120px;
  width: 120px;
  flex: 0 0 120px;
  border-radius: 50%;
}

.profile__avatar:hover {
  filter: brightness(20%);
  cursor: url('../../../images/profile/avaEdit.svg'), pointer;
}
