.photocard__viewport {
  max-width: 282px;
  height: 282px;
  max-height: 282px;
  height: 282px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
}
